

<!DOCTYPE html>
<html lang="en">
<head>
    
    
            
            
    <!-- Meta information -->
    <meta name="robots" content="all" />
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no" />
    <link href="/assets/logos/favicon-default.png" rel="icon" />
    
    <!-- Primary Meta Tags -->
    <title>Usage | Menu | Made with Supernova</title>
    <meta name="title" content="Usage | Menu | Made with Supernova" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/components/menu/usage.html" />
    <meta property="og:title" content="Usage | Menu | Made with Supernova" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="/components/menu/usage.html" />
    <meta property="twitter:title" content="Usage | Menu | Made with Supernova" />
    <meta property="twitter:description" content="" />
    
    
    
    <!-- Fonts -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Inter:400,500,700,800', 'Fira Coda:500,600']
        }
      });
    </script>
    
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/dist/docs.min.css?v=4.5.1" />
    <link rel="stylesheet" type="text/css" href="/assets/dist/custom.css?v=5278cde5" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.js" integrity="sha512-3S64QagKiTlNjSfuh3UYtYSkP494WHoWc96YvbmB2BReHpNtxlrMNY6MbJLDpavcgD8Pj5p44F/PY586uVO5iA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/xml/xml.min.js" integrity="sha512-LarNmzVokUmcA7aUDtqZ6oTS+YXmUKzpGdm8DxC46A6AHu+PQiYCUlwEGWidjVYMo/QXZMFMIadZtrkfApYp/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/jsx/jsx.min.js" integrity="sha512-+0Bk5jqcZFYMi5WaRZaTboF7s25sht/1pxmg3sXqWDeidrrw1yRqDzF25jsMOnToR8iXSqzrHfAD5wiDO1lwSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://codemirror.net/5/lib/codemirror.css" />
    
    
    <script>
    
</script>
</head>

<body class="page-body-components-menu-usage">



<div class="SNSearch SNSearch-container backdrop-blur">
   <div class="SNSearch-box">
      <header class="SNSearch-header">
         <label class="SNSearch-input-label">
            <span class="icon">
                               <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <circle cx="10" cy="10" r="7"></circle>
                                  <line x1="21" y1="21" x2="15" y2="15"></line>
                               </svg>
                               </span>
         </label>
         <form class="SNSearch-form">
            <input class="SNSearch-input" id="SNSearch-input" autocomplete="off" autocapitalize="off" spellcheck="false" placeholder="Search documentation..." maxlength="64" enterkeyhint="go">
         </form>
         <button class="SNSearch-close search">
            <span class="icon">
                               <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <line x1="18" y1="6" x2="6" y2="18"></line>
                                  <line x1="6" y1="6" x2="18" y2="18"></line>
                               </svg>
                               </span>
         </button>
      </header>
      <div class="SNSearch-results">
        
      </div>
      <footer class="SNSearch-footer">
         <div class="info">
            <span>Cmd</span>/<span>Ctrl</span> + <span>K</span> to search
         </div>
         <div class="info">
            <span>ESC</span> to clear / exit
         </div>
      </footer>
   </div>
</div>
<!-- Document Wrapper -->
<div id="main-wrapper"> 
  
  <!-- Content -->
  <div id="content" role="main" class="site-wrapper">
  
    
          
          <!-- Header --> 
          <header id="header" class="sticky-top style-dark"> 
              
              <!-- Navbar -->
              <nav class="primary-menu navbar navbar-expand-lg">
                  <div class="logo-wrapper">
                      
                      <!-- Logo -->
                      <a href="/introduction.html" class="site-logo" aria-label="Karat Card Components">
                          
                              <img src="https://studio-assets.supernova.io/design-systems/26202/faf00ef7-062c-4bbd-906a-a2e87e57a305.png" alt="Karat Card Components" />
                      </a>
                  </div>
                  
                  <div class="container-fluid">
          
                      
                      <div id="header-nav" class="navbar-collapse">
                          <ul class="navbar-nav">
                          </ul>
          
                          <div class="utility-nav">
                              
                              <div id="version-container" class="dropdown">
                                  <button class="btn btn-secondary btn-outlined" type="button" id="version-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Loading
                                  </button>
                                  <div class="dropdown-menu pull-right" aria-labelledby="version-selector">
                                  </div>
                              </div>
                                  <button class="btn-icon-button btn-search search" aria-label="Search in documentation">
                                      
                                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                         <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                         <circle cx="10" cy="10" r="7"></circle>
                                         <line x1="21" y1="21" x2="15" y2="15"></line>
                                      </svg>
                                                              </button>
          
                                  <a href="https://kaped.io" class="btn cta-button btn-primary" id="cta-button"  target='blank'>
                                  Open Site
                                  </a>
                          </div>        
                       </div>
                  </div>
          
                   <!-- Sidebar Toggler -->
                      <button id="sidebarCollapse" class="toggle-navbar" type="button" aria-label="Open navigation">
                          
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                             <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                             <line x1="4" y1="6" x2="20" y2="6"></line>
                             <line x1="4" y1="12" x2="20" y2="12"></line>
                             <line x1="4" y1="18" x2="20" y2="18"></line>
                          </svg>            </button>
              </nav>
          </header>
          <!-- Header End -->          </nav>
      </header>

    <div class="site">
      <div class="site-content-wrapper">
        <div class="site-content">
            <!-- Sidebar Navigation -->
            <div class="side-navigation-wrapper style-light" id="side-navigation">
              <div class="bg-sidebar"></div>
              <div class="sidebar-navigation docs-navigation">
                    
                
                
                    
                
                        <div class="nav-name">
                            <span class="typographyDocsViewLabelCaps">Documentation Root</span>
                        </div>
                 
                
                    <ul class="nav with-root-level first-level-flat">
                            
                                
                                    <li class="nav-item"><a class="nav-link" href="/introduction.html">Introduction</a></li>
                            
                                
                                    <li class="nav-item group-open">
                                    
                                        <a class="nav-link group" href="/foundations/overview.html">
                                            Foundations
                <span class="icon">
                                                               <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                  <polyline points="9 6 15 12 9 18"></polyline>
                                                               </svg>
                                                               </span>                        </a>
                                                                                                            
                                                                                                        
                                                                                                        
                                                                                                            
                                                                                                        
                                                                                                         
                                                                                                        
                                                                                                            <ul class="nav with-root-level first-level-flat">
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/foundations/overview.html">Overview</a></li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/foundations/color.html">Color</a></li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/foundations/typography.html">Typography</a></li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/foundations/iconography/alpha.html">
                                                                                                                                    Iconography
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/foundations/layout.html">Layout</a></li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/foundations/shadow.html">Shadow</a></li>
                                                                                                            </ul>
                                                                                                                            </li>
                            
                                
                                    <li class="nav-item group-open">
                                    
                                        <a class="nav-link group active" href="/components/button/design.html">
                                            Components
                <span class="icon">
                                                               <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                  <polyline points="9 6 15 12 9 18"></polyline>
                                                               </svg>
                                                               </span>                        </a>
                                                                                                            
                                                                                                        
                                                                                                        
                                                                                                            
                                                                                                        
                                                                                                         
                                                                                                        
                                                                                                            <ul class="nav with-root-level first-level-flat">
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/button/design.html">
                                                                                                                                    Button
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/mobile-components/cards.html">
                                                                                                                                    Mobile Components
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group active" href="/components/menu/design.html">
                                                                                                                                    Menu
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                                                                                                    
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                    
                                                                                                                                                                                                
                                                                                                                                                                                                 
                                                                                                                                                                                                
                                                                                                                                                                                                    <ul class="nav with-root-level first-level-flat">
                                                                                                                                                                                                            
                                                                                                                                                                                                                
                                                                                                                                                                                                                    <li class="nav-item is-tab"><a class="nav-link" href="/components/menu/design.html">Design</a></li>
                                                                                                                                                                                                            
                                                                                                                                                                                                                
                                                                                                                                                                                                                    <li class="nav-item is-tab"><a class="nav-link active" href="/components/menu/usage.html">Usage</a></li>
                                                                                                                                                                                                            
                                                                                                                                                                                                                
                                                                                                                                                                                                                    <li class="nav-item is-tab"><a class="nav-link" href="/components/menu/code.html">Code</a></li>
                                                                                                                                                                                                    </ul>
                                                                                                                                                                                                                    </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/badge/design.html">
                                                                                                                                    Badge
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/form/design.html">
                                                                                                                                    Form
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/graph/design.html">
                                                                                                                                    Graph
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/balance/design.html">
                                                                                                                                    Balance
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/upload-file/design.html">
                                                                                                                                    Upload File
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item">
                                                                                                                            
                                                                                                                                <a class="nav-link group" href="/components/invite-team/code.html">
                                                                                                                                    Invite Team
                                                                                                        <span class="icon">
                                                                                                                                                       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                                                                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                                                                                                          <polyline points="9 6 15 12 9 18"></polyline>
                                                                                                                                                       </svg>
                                                                                                                                                       </span>                        </a>
                                                                                                                            </li>
                                                                                                            </ul>
                                                                                                                            </li>
                            
                                
                                    <li class="nav-item group-open">
                                    
                                        <a class="nav-link group" href="/resources/design-tokens.html">
                                            Resources
                <span class="icon">
                                                               <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                  <polyline points="9 6 15 12 9 18"></polyline>
                                                               </svg>
                                                               </span>                        </a>
                                                                                                            
                                                                                                        
                                                                                                        
                                                                                                            
                                                                                                        
                                                                                                         
                                                                                                        
                                                                                                            <ul class="nav with-root-level first-level-flat">
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/resources/design-tokens.html">Design tokens</a></li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/resources/tools-and-resources.html">Tools and resources</a></li>
                                                                                                                    
                                                                                                                        
                                                                                                                            <li class="nav-item"><a class="nav-link" href="/resources/release-notes.html">Release Notes</a></li>
                                                                                                            </ul>
                                                                                                                            </li>
                    </ul>
                              </div>
            </div>
          
          <!-- Docs Content -->
          <div class="docs-content">

            
            
            
            
            
            
            
            <div class="container-title" style="background: url(https://studio-assets.supernova.io/design-systems/26202/b691ad72-4a74-49d1-a092-c305817e3b6e.png) no-repeat center center; background-size: cover;">
            
                <div class="slider">
                    
            
                        
                        <h1 class="page-title" style="">Menu</h1>
                        
                </div>
            </div>
            
            <style>
             :root { --tabOffset: 40px; }
            </style>
            <div class="container-tabs">    
                <div class="tabbed-navigation">
                    <ul class="nav nav-tabs" id="page-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link " id="tab-4308186" href="/components/menu/design.html" role="tab" aria-selected="false"><span>Design</span></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-4308188" href="/components/menu/usage.html" role="tab" aria-selected="true"><span>Usage</span></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link " id="tab-4308189" href="/components/menu/code.html" role="tab" aria-selected="false"><span>Code</span></a>
                            </li>
                    </ul>
                </div>
            </div>
            
            
            <div class="content-container">
              <section id="section-content-page">
                <main class="tab-content" id="page-tab-content">

                                    
                                                
                                                    <p>&nbsp;</p>
                                                
                                    
                                    
                                    
                    
                
                    <div class="page-bottom-navigation row">
                        <div class="col left">
                            <a class="segment" href="/components/menu/design.html">
                                <div class="arrow">
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <line x1="5" y1="12" x2="19" y2="12"></line>
                                       <line x1="5" y1="12" x2="11" y2="18"></line>
                                       <line x1="5" y1="12" x2="11" y2="6"></line>
                                    </svg>
                                                    </div>
                                <div class="segment-text">
                                        <div class="section">Menu</div>
                                    <div class="pagename">Design</div>
                                </div>
                            </a>
                        </div>
                        <div class="col right">
                            <a href="/components/menu/code.html" class="segment">
                                <div class="segment-text">
                                        <div class="section">Menu</div>
                                    <div class="pagename">Code</div>
                                </div>
                                <div class="arrow">
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <line x1="5" y1="12" x2="19" y2="12"></line>
                                       <line x1="13" y1="18" x2="19" y2="12"></line>
                                       <line x1="13" y1="6" x2="19" y2="12"></line>
                                    </svg>
                                                    </div>
                            </a>
                        </div>
                    </div>
                                </main>
              </section>
              <div id="content-nav-container">
                  <nav id="content-nav">
                  </nav>
              </div>            </div>

            
                
               <div class="container-footer">
                <div class="slider">
                    <div class="row">
                    <div class="col-sm-5 mb-3">
                        <h5>My Doc Site</h5>
                        <p class="d-block mb-3">This footer can be completely changed through Supernova customization options. Head to site advanced customization to learn more!</p>
            </div>
                    <div class="col-sm-3 offset-sm-1 mb-3">
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Changelog</a></li>
                        <li><a href="#">Storybook</a></li>
                        <li><a href="#">Figma</a></li>
                    </ul>
                    </div>
                    <div class="col-sm-3 mb-3">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Report issue</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
                <div class="container-footer small"">
                    <div class="slider">
                        <p class="text-muted">&copy; 2023 Karat Card Components. Page last updated on Mar 11, 2023, 13:23</p>
                    </div>
                </div>
                      </div>
        </div> 
      </div> 
    </div> 
  </div>
  
</div>
<!-- .site end --> 

<!-- JavaScript -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/hotkeys-js@3.7.3/dist/hotkeys.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> 

<!-- Prism -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js" integrity="sha512-pUNGXbOrc+Y3dm5z2ZN7JYQ/2Tq0jppMDOUsN4sQHVJ9AUQpaeERCUfYYBAnaRB9r8d4gtPKMWICNhm3tRr4Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Live sandbox -->
<script src="/assets/js/sandbox.js"></script> 

<!-- Search Support-->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.5.3"></script>
<script src="/si.js"></script>  

<!-- General scripts -->
<script src="/assets/dist/docs.min.js"></script>
<script src="/assets/js/functionality.js"></script>
<script src="/assets/js/cookie-consent.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" async></script>
    <script src="https://unpkg.com/@dotlottie/player-component@1.0.0/dist/dotlottie-player.js" async></script>

<!-- After loading -->
<script>
$(document).ready(function() {
    // Load versions
    const versionUrl = "null/../versions.json"
    loadVersions(versionUrl)

    // Load sandboxes, if any
    const sandboxConfigUrl = "null/../sandbox.json"
    loadSandboxes(sandboxConfigUrl)


    $("input[data-toggle='list-search']").on("keyup", function() {
        searchInList($(this),$(this).attr("data-list-id"));
    });
})
</script>






</body>
</html>